# Not tracking any hidden files except .gitignore file.
.*
!.gitignore

# Not tracking .class files under BUILD/.
# The double star "**" in the beginning is to make sure that BUILD/ directory is ignored
# 	regardless of the directory in which it is in.
**/BUILD/
